$primary: #fcee21;
@import "../libs/bootstrap-5.1.0/scss/bootstrap.scss";
@import "../libs/fontawesome-free-5.15.4-web/scss/solid.scss";
@import "../libs/fontawesome-free-5.15.4-web/scss/fontawesome.scss";

$font-color: #eee4e2;
$font-color-dark: #2e130a;
$background-color: #121330;
$accent-color: #fcee21;

body {
  background-color: $background-color;
}
* {
  color: $font-color;
}

.header {
  background: linear-gradient(
    109.38deg,
    #110828 -38.4%,
    #285a76 -38.38%,
    #0e0624 113.47%
  );
  nav.navbar {
    background-color: rgba(0, 0, 0, 0);
  }
  &-logo {
    width: 150px;
    padding: 20px;
  }
  &-img {
    max-width: 100%;
  }
}
.heroheader {
  &-items {
    display: flex;
    position: absolute;
    bottom: 20%;
    right: 20%;
  }
  &-img {
    width: 100%;
  }
  span {
    color: $accent-color;
  }
}

@media (max-width: 640px) {
  .heroheader-items {
    bottom: 10%;
    right: 3%;
  }
  .heroheader-img {
    display: none;
  }
}
@media (min-width: 641px) {
  .heroheader-img-sp {
    display: none;
  }
}

.search {
  &-bar {
    padding: 5px 8px;
    border-radius: 100vh;
    margin-left: 50px;
    margin-right: 50px;
    width: 300px;
  }
  &-button {
    border-radius: 100vh;
    width: 100px;
    background-color: $accent-color;
    color: $font-color-dark;
    &:hover {
      background-color: $font-color-dark;
    }
  }
}
.slide {
  div {
    margin: 0 5px;
  }
  img {
    height: 300px;
    width: auto;
  }
}
.text-center {
  text-align: center;
}

// 写真が並んでいるところ一覧

/* グリッドレイアウトのコンテナ */

/* アイテム */
.item {
  display: block; /* 必須 */
  position: absolute; /* 必須 */
  width: 200px;
  height: auto; /* アイテムの幅 */
  margin: 5px; /* アイテム間のマージン(この2倍になる) */
  z-index: 1;
  &-content {
    img {
      width: 100%;
    }
    p {
      margin-bottom: 0px;
      padding-top: 0px;
    }
  }
}

@media (max-width: 877px) {
  .item {
    width: calc(50% - 10px);
    height: auto;
  }
}

/* 640ピクセル幅以下になったら1カラム化 */
@media (max-width: 640px) {
  .item {
    width: calc(100% - 10px);
    height: auto;
  }
}
.grid {
  position: relative;
  width: 878px;
  max-width: 100%;
  margin: 0 auto;
}

.photo-list {
  margin: 0 auto;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}
// .item {
//   width: 100%;
//   padding: 5px;
//   list-style: none;
//   img {
//     width: 100%;
//   }
// }
// @media screen and (min-width: 480px) {
//   .item {
//     width: 33.3%;
//   }
// }

.relative {
  position: relative;
}

.main-post {
  background: $background-color;
  color: $font-color;
  margin-top: 100px;
  &-catch {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    img {
      width: 10%;
    }
  }
}

.text-center {
  text-align: center;
}

.title-row {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}
h3 {
  margin-top: 100px;
}
.post-detail {
  margin-top: 100px;
}

.post-detail-photo {
  margin-top: 50px;
  img {
    width: 70%;
  }
}
.place {
  margin-right: 20px;
}
.col {
  margin-bottom: 30px;
}

.footer {
  height: 300px;
  background-color: $background-color;
}
