$primary: darken(#fcee21, 20%);
$btn-link-hover-color: #2e130a;
$btn-link-color: #121330;
$form-label-margin-bottom: 1rem;
@import "../libs/bootstrap-5.1.0/scss/bootstrap.scss";
@import "../libs/fontawesome-free-5.15.4-web/scss/solid.scss";
@import "../libs/fontawesome-free-5.15.4-web/scss/fontawesome.scss";
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");

$font-color: #eee4e2;
$font-color-dark: #2e130a;
$background-color: #121330;
$accent-color: #fcee21;

body {
  background-color: $background-color;
  color: $font-color;
}

.slick-dots li.slick-active button:before {
  color: $accent-color;
}

.header {
  margin-top: 100px;

  nav.navbar {
    background-color: rgba(darken($background-color, 3%), 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 0 20px;

    .btn {
      color: $btn-link-color;

      &:hover {
        color: $btn-link-hover-color;
      }
    }

    .user-pic {
      width: 25px;
      height: 25px;
      background-size: 25px;
      vertical-align: middle;
      padding: 0;
      margin-top: 5px;
    }
    .user-name {
      display: none;
    }
  }
  &-logo {
    width: 150px;
    padding: 20px;
  }
  &-img {
    max-width: 100%;
  }
  .nav-item {
    margin-right: 20px;
    i {
      margin-right: 10px;
    }
  }
}

.heroheader {
  margin-top: -100px;
  position: relative;

  .heroheader-catch {
    position: absolute;
    text-align: right;
    bottom: 20%;
    right: 10%;
    font-size: 2.3em;
    font-family: "Kiwi Maru", serif;
    span {
      color: $accent-color;
    }
  }
  &-img {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .heroheader {
    .heroheader-img-sp {
      margin-top: 100px;
    }
    .heroheader-catch {
      font-size: 1em;
      right: 15px;
    }
    .heroheader-img {
      display: none;
    }
  }
}
@media (min-width: 641px) {
  .heroheader {
    &-catch {
      font-size: 2em;
    }
    .heroheader-img-sp {
      display: none;
    }
  }
}

.search {
  &-bar {
    padding: 5px 8px;
    border-radius: 100vh;
    margin-left: 50px;
    margin-right: 50px;
    width: 300px;
  }
  &-button {
    border-radius: 100vh;
    width: 100px;
    background-color: $accent-color;
    color: $font-color-dark;
    &:hover {
      background-color: $font-color-dark;
    }
  }
}

.page-section {
  padding: 50px 0;
  .rotateLogo-wrapper {
    margin-bottom: 50px;
    text-align: center;
  }
}

.section-title {
  font-family: "Kiwi Maru", serif;
}

.slide {
  &-width {
    width: 300px;
  }
  div {
    margin: 0 5px;
  }
  img {
    height: 300px;
    width: auto;
  }
}

@media (min-width: 641px) {
  .slide-width {
    width: 250px;
  }
}

.text-center {
  text-align: center;
}

// 写真が並んでいるところ一覧

/* グリッドレイアウトのコンテナ */

/* アイテム */
.item {
  display: block; /* 必須 */
  position: absolute; /* 必須 */
  width: 200px;
  height: auto; /* アイテムの幅 */
  margin: 5px; /* アイテム間のマージン(この2倍になる) */
  z-index: 1;
  &-content {
    img {
      width: 100%;
    }
    p {
      padding-top: 0px;
    }
    p.map-post {
      font-size: 0.75rem;
      padding-top: 5px;
      margin-bottom: -20px;
    }
  }
}

@media (max-width: 877px) {
  .item {
    width: calc(50% - 20px);
    height: auto;
  }
}

/* 640ピクセル幅以下になったら1カラム化 */
@media (max-width: 640px) {
  .item {
    width: calc(100% - 20px);
    height: auto;
  }
}
.grid {
  position: relative;
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.new-post {
  &-title {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    justify-content: center;
    &-img {
      width: 70px;
      padding-bottom: 5px;
      img {
        width: 100%;
      }
    }
  }
}

.post-button-sticky {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100000;
}

.post-area {
  margin-top: 300px;
  height: 500px;
  background-color: #eee4e2;
}

.photo-list {
  margin: 0 auto;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}
// .item {
//   width: 100%;
//   padding: 5px;
//   list-style: none;
//   img {
//     width: 100%;
//   }
// }
// @media screen and (min-width: 480px) {
//   .item {
//     width: 33.3%;
//   }
// }

.relative {
  position: relative;
}

.main-post {
  color: $font-color;
  margin-top: 100px;
  &-catch {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    img {
      width: 30%;
    }
  }
}

.user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url("/images/profile_placeholder.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
  border-radius: 20px;
}
.user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
  color: $accent-color;
}

.text-center {
  text-align: center;
}

.title-row {
  margin-top: 100px;
}
h3 {
  margin-top: 100px;
}
.post-detail {
  margin-top: 100px;
}

.post-detail-photo {
  margin-top: 50px;
  img {
    width: 70%;
  }
}
.place {
  margin-right: 20px;
}
.col {
  margin-bottom: 30px;
}

.article-photo {
  width: 70%;
  img {
    width: 100%;
  }
}
.title-account {
  display: flex;
  justify-content: flex-end;
}

.title-icon {
  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover; /*画像の縦横比を保ったまま領域をカバー */
  }
}

.footer {
  height: 300px;
  background-color: $background-color;
  &-logo {
    img {
      margin-top: 200px;
      width: 150px;
    }
  }
}
